<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>dummycompany-snapshots</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Authorization</name>
            <value>Basic ${env.nexusBase64UserNamePassword}</value>
          </property>
        </httpHeaders>
      </configuration>
      <username>${env.nexusUser}</username>
      <password>${env.nexusPassword}</password>
    </server>
    <server>
      <id>dummycompany-snapshots</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Authorization</name>
            <value>Basic ${env.nexusBase64UserNamePassword}</value>
          </property>
        </httpHeaders>
      </configuration>
      <username>${env.nexusUser}</username>
      <password>${env.nexusPassword}</password>
    </server>
    <server>
      <id>dummycompany-releases</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Authorization</name>
            <value>Basic ${env.nexusBase64UserNamePassword}</value>
          </property>
        </httpHeaders>
      </configuration>
      <username>${env.nexusUser}</username>
      <password>${env.nexusPassword}</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <!--This sends everything to our internal repo -->
      <id>dummycompany-repository</id>
      <url>https://repo.tools.dummycompany.com/repository/maven-public/</url>
      <mirrorOf>external:*</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>dummycompany-repository</id>
          <url>https://repo.tools.dummycompany.com/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>